body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("./kopi3.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(223, 194, 0);
}

/* MENU BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(82, 10, 10, 0.8);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  margin: 0;
  font-size: 24px;
  color: #ffcc00;
  font-weight: bold;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

/* CONTAINER KONTEN */
.container {
  background-color: rgba(82, 10, 10, 0.6);
  padding: 20px;
  margin-top: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: brown;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: darkred;
}

a[href^="tel:"] {
  color: red;
  font-weight: bold;
}
