body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("./kopi3.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(223, 194, 0);
}

.container {
  background-color: rgba(82, 10, 10, 0.6);
  padding: 20px;
}

header {
  text-align: center;
  padding: 10px 0;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin: 5px 0;
}

form button {
  padding: 10px;
  background: brown;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: darkred;
}

a[href^="tel:"] {
  color: red;
  font-weight: bold;
}
